
# examples

*/c/list-devices
*/c/list-formats
*/c/list-properties
*/c/pipeline
*/c/properties
*/c/pipeline
*/c/properties
*/c/trigger-images
*/c/save-video
*/c/appsink

# ### VCS ###

.svn/
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

# ### tags ###

tags
GPATH
GTAGS
GRTAGS

# ### Emacs ###

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode

.org-id-locations
*_archive


# ### Vim ###

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# ### C++ ###

# Compiled Object files

*.slo
*.lo
*.o

# Compiled Dynamic libraries

*.so
*.dylib

# Compiled Static libraries

*.lai
*.la
*.a

# QT related files

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp

# Python related

.ropeproject
__pycache__

# Misc

*.kdev4


# various IDEs

.idea/
build/
.vscode/
nbproject

# kdevelop

*.config
*.creator
*.creator.user
*.files
*.includes

.dir-locals.el

cmake/*
.gdb_history

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
tools/tcam-gigetool/tcamgigetool/version.py
tools/camera-ip-conf/version.h
tools/tcam-gigetool/TisGigETool.egg-info/
src/version.h
