
# ignore the sample executables in this directory

00-list-devices
01-list-properties
02-set-properties
03-live-stream
04-list-formats
05-set-format
06-softwaretrigger
07-appsink
08-save-stream
09-device-lost
10-metadata
11-json-state
12-tcam-properties
13-gstquery
