
# This file assures that The Imaging Source USB cameras are correctly recognized
# This file only works for USB2 cameras whose name ends with a 1 (e.g. DMK 31, DFK41, etc.)

# if no driver has claimed the interface yet, load uvcvideo
ACTION=="add", SUBSYSTEM=="usb", \
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8101", \
RUN+="/sbin/modprobe -b uvcvideo"

# add the imaging source VID and PID to the list of devices supported by uvcvideo
ACTION=="add", SUBSYSTEM=="drivers", \
               ENV{DEVPATH}=="/bus/usb/drivers/uvcvideo", \
               ATTR{new_id}="199e 8101"

# afu050
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8201", GROUP="video", MODE="0660"
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8202", GROUP="video", MODE="0660"
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8203", GROUP="video", MODE="0660"
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8204", GROUP="video", MODE="0660"
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8205", GROUP="video", MODE="0660"
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8206", GROUP="video", MODE="0660"
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8207", GROUP="video", MODE="0660"
ATTRS{idVendor}=="199e", ATTRS{idProduct}=="8209", GROUP="video", MODE="0660"

# templates for those using non standard locations

# load uvc extensions for usb2 cameras
# ACTION=="add", SUBSYSTEM=="video4linux", \
#               ATTRS{idVendor}=="199e", ATTRS{speed}=="480", \
#               RUN+="/usr/bin/uvcdynctrl --device=/dev/%k -i /path/to/tiscamera/uvc-extensions/tisEUVC.xml"

# load uvc extensions for usb3 cameras
# ACTION=="add", SUBSYSTEM=="video4linux", \
#               ATTRS{idVendor}=="199e", ATTRS{speed}=="5000", \
#               RUN+="/usr/bin/uvcdynctrl --device=/dev/%k -i /path/to/tiscamera/uvc-extensions/usb3.xml"
